.produto-image {
  max-width: 80px; /* Defina o tamanho desejado */
  height: auto;
}

.container {
  min-height: 65vh;
}

th{
  background-color: var(--cor-nav);
  color: var(--cor-fundo);
}

tbody > tr > td {
  padding: 8px;
  background-color: var(--cor-two);
  color: var(--cor-fundo);
}

.container {
  min-height: 65vh;
}
