<footer class="text-white">
    <div class="row mb-4">
      <div id="alunos" class="col-md-12 d-flex justify-content-center flex-column">
          <h5>Alunos:</h5>
          <ul class="list-unstyled">
              <li><a class="footer-link" href="https://github.com/thfields">Thiago Campos</a></li>
              <li><a class="footer-link" href="https://github.com/vitorsantss">Vitor Santos</a></li>
              <li><a class="footer-link" href="https://github.com/MarcosRibeiroIFRN">Marcos Ribeiro</a></li>
              <li><a class="footer-link" href="https://github.com/AbnerNascimento">Abner Nascimento</a></li>
          </ul>
      </div>
  </div>
  <div class="container">


      <div class="row">
        <div class="col-md-6">
            <p>&copy; 2023 Sistemas Para Internet - IFRN. Todos os direitos reservados.</p>
        </div>
        <div class="col-md-6 text-end">
            <p>Política de Privacidade | Termos de Uso</p>
        </div>
    </div>
  </div>
</footer>
